<div id="page-wrapper">
  <footer>
    <div class="container">
      <div class="footer-section">
        <div class="row">
          <div class="col-md-4">
            <h3 style="line-height: 1.2em">Yvonne Scott</h3>
            <h6>Makeup Artist</h6>
            <p>707 West Ave, CT 07750
              <br>Connecticut — Norwalk
            </p>
          </div>
          <div class="col-md-4">
            <h3>Contact</h3>
            <p>E-mail Address
              <br>reservation@yvonnescott.com
              <br>makeup@yvonnescott.com
            </p>
            <br>
          </div>
          <div class="col-md-4">
            <h3>+1 650-333-0000</h3>
            <p>Working Hours
              <br>Mon-Fri: 08.00 - 19.00
              <br>Sunday: Closed
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="text-left">
              <p>© 2022. All right reserved. <a href="#">Terms &amp; Conditions</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-right">
              <ul class="footer-social-link">
                <li><a href="#0"><i class="ti-facebook"></i></a></li>
                <li><a href="#0"><i class="ti-twitter"></i></a></li>
                <li><a href="#0"><i class="ti-instagram"></i></a></li>
                <li><a href="#0"><i class="ti-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

