<div id="page-wrapper">
  <!-- About Section  -->
  <div class="yscott-about-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 animate-box fadeInUp animated" data-animate-effect="fadeInUp"><img
          alt="" class="img-responsive" src="./assets/images/about.jpg"></div>
        <div class="col-md-12 col-sm-12">
          <div class="yscott-caption animate-box fadeInUp animated" data-animate-effect="fadeInUp">
            <h2>About Me</h2>
            <p>Hi, I’m Pankti Shah! I love people love to fell beautiful, which is the reason I’ve spent last 14 years
              engulfed in doing Make up. Integer fringilla variye eget volutpa eros convalist. Nulla non nisl orci
              drana.</p>
            <p>Nam rhoncus euismod eros. Integer fringilla varius leo, eget volutpa eros convalist. Nulla non nisl orci.
              Nam rhoncus euis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="yscott-description-section">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <div class="yscott-details-block">
            <h3 class="yscott-details-title">My Introduction</h3>
          </div>
          <p>Hi, I’am Pankti Shah! I love people love to fell beautiful, which is the reason I’ve spent last 14 years
            engulfed in doing Make up.</p>
          <p>Stylish and hair, I believe if you feel comfortable in your skin, then you can spend your energy loving
            others and enjoying life instead of worrying and being self-conscious.</p>
          <p>Nam rhoncus euismod eros. Integer fringilla varius leo emela volutpa eros convalist vunnaa non nisl orci
            neam rhoncus. Nameoncus euismo. Integer fringilla varius leon.</p>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="row">
            <div class="col-md-12">
              <div class="yscott-details-block">
                <h3 class="yscott-details-title animate-box fadeInUp animated" data-animate-effect="fadeInUp">Assistant
                  Makeup Artist</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="yscott-artist-wrap animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="img-zoomer"><img alt="" class="img-fluid" src="./assets/images/artists/02.jpg"></div>
                <div class="yscott-artist-title">
                  <p>Pankti Shah</p> <span>Party Makeup</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="yscott-artist-wrap animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="img-zoomer"><img alt="" src="./assets/images/artists/01.jpg"></div>
                <div class="yscott-artist-title">
                  <p>Lucy Fox</p> <span>Hair Style</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="yscott-artist-wrap animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="img-zoomer"><img alt="" src="./assets/images/artists/03.jpg"></div>
                <div class="yscott-artist-title">
                  <p>Daryl Parks</p> <span>Wedding Makeup</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

