<div id="page-wrapper">
  <!-- About Section  -->
  <div class="yscott-about-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 animate-box fadeInUp animated" data-animate-effect="fadeInUp"><img
          alt="" class="img-responsive" src="./assets/images/about.jpg"></div>
        <div class="col-md-12 col-sm-12">
          <div class="yscott-caption animate-box fadeInUp animated" data-animate-effect="fadeInUp">
            <h2>About Me</h2>
            <p>Welcome to my website! My name is Pankti shah and I am a professional makeup artist and hairstylist with
              11years of experience in the beauty industry.
              I have developed my skills by learning from my mother and has since honed my craft to become a
              professional makeup artist.
              I am passionate about enhancing the natural beauty of my clients and creating stunning looks that make
              them feel confident and beautiful.
              I have worked with numerous clients, including brides, models, and everyday individuals.
            </p>
            <p>My philosophy is to use high-quality products and techniques to enhance each client's unique features and
              bring out their individual beauty. I specialize in creating flawless makeup looks, elegant updos, trendy
              hairstyles, and everything in between.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="yscott-description-section">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <div class="yscott-details-block">
            <h3 class="yscott-details-title">My Introduction</h3>
          </div>
          <p>
            As a makeup artist and hairstylist, I stay up-to-date with the latest beauty trends, products, and
            techniques to ensure that my clients receive the best service possible.
          </p>
          <p>
            I take pride in my attention to detail, professionalism, and ability to create customized looks that cater
            to each client's unique needs and preferences.
          </p>
          <p>
            Whether you need makeup and hairstyling services for a wedding, photoshoot, or special event,
            I am here to help you achieve your dream look. Let's work together to create a stunning and unforgettable
            beauty experience!
          </p>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="row">
            <div class="col-md-12">
              <div class="yscott-details-block">
                <h3 class="yscott-details-title animate-box fadeInUp animated" data-animate-effect="fadeInUp">Assistant
                  Makeup Artist</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="yscott-artist-wrap animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="img-zoomer"><img alt="" class="img-fluid" src="./assets/images/artists/02.jpg"></div>
                <div class="yscott-artist-title">
                  <p>Pankti Shah</p> <span>Party Makeup</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="yscott-artist-wrap animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="img-zoomer"><img alt="" src="./assets/images/artists/01.jpg"></div>
                <div class="yscott-artist-title">
                  <p>Lucy Fox</p> <span>Hair Style</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="yscott-artist-wrap animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div class="img-zoomer"><img alt="" src="./assets/images/artists/03.jpg"></div>
                <div class="yscott-artist-title">
                  <p>Daryl Parks</p> <span>Wedding Makeup</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

