<div id="page-wrapper">

  <!-- Post Section -->
  <div class="yscott-post-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <img alt="" class="img-responsive" src="./assets/images/post.jpg">
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="yscott-caption animate-box fadeInUp animated" data-animate-effect="fadeInUp">
            <h2>Makeup Tips For Women</h2>
            <p>Suspendisse euismod eu justo eget cursus. Proin pharetra varius metus. Nam rhoncus euismod eros the
              fringilla volutpat convallis at.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="yscott-description-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <p>Nam rhoncus euismod eros. Integer fringilla varius leo, eget volutpat eros convalist. Nulla non nisl orci.
            Donec ornare ullamcorper nunc elementum placerat. Curabitur massa ante, iaculis a enim porta, iaculis.</p>
          <p>Quisque gravida eros ut turpis interdum ornare. Interdum et malesu they adamale fames ac ante ipsum primis
            in faucibus. Curabitur arcu erosite feugiat in tortor in, volutpat sollicitudin libero. Maecenas nisl est,
            conselur rhoncus loremir consequat et, finibus nec purus.</p>
        </div>
        <div class="col-md-6 col-sm-12 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <p>Quisque gravida eros ut turpis interdum ornare. Interdum et malesu they adamale fames ac ante ipsum primis
            in faucibus. Curabitur arcu erosite feugiat in tortor in, volutpat sollicitudin libero. Maecenas nisl est,
            conselur rhoncus loremir consequat et, finibus nec purus.</p>
          <p>Mauris urna libero, tincidunt non ligula aliquam, maximus dignissim lacus. Fusce ac neque nibh. Fusce
            pretium enim vel mi fringilla euismod. Suspendisse dapibus nec nisl a hendrerit.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="yscott-comment-section">
    <div class="container">
      <div class="row">
        <!-- Comment -->
        <div class="col-md-6 col-sm-6">
          <div class="yscott-post-comment-wrap animate-box fadeInUp animated" data-animate-effect="fadeInUp">
            <div class="yscott-user-comment"><img alt="" src="./assets/images/blog/people.jpeg"></div>
            <div class="yscott-user-content">
              <h3>Lucy Fox</h3>
              <p><span>10 minutes ago</span></p>
              <p>Quisque gravida eros ut turpis interdum ornary. Interdum et malesu they faucibus.</p>
              <a class="yscott-repay" href="#">Reply<i class="ti-back-left"></i></a>
            </div>
          </div>
        </div>
        <!-- Contact Form -->
        <div class="col-md-5 col-sm-5 yscott-contact-col animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <div class="yscott-details-block">
            <h3 class="yscott-details-title">Leave a Reply</h3>
          </div>
          <form class="yscott-contact-form row" method="post">
            <div class="col-sm-6">
              <div class="yscott-form-component">
                <input class="yscott-input" id="name" name="name" placeholder="Name *" required="" type="text">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="yscott-form-component">
                <input class="yscott-input" id="email" name="email" placeholder="Email *" required="" type="email">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="yscott-form-component">
                <textarea class="yscott-input" cols="40" id="message" name="message" placeholder="Comment *" required=""
                          rows="4"></textarea>
              </div>
            </div>
            <div class="col-sm-12">
              <button class="yscott-btn" type="submit">SEND</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
