<div id="page-wrapper">
  <!-- Services -->
  <div class="yscott-services yscott-services-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="yscott-text-block yscott-servicess-block">
            <div class="yscott-text-block-center yscott-text-center yscott-text-block-w50">
              <h2 class="yscott-servicess-title animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                Services</h2>
              <p class="animate-box fadeInUp animated" data-animate-effect="fadeInUp">Makeup servicess suspendisse
                euismod eu justo eget cursus. Proin pharetra variustions metus. Nam rhoncus euismo.</p><br>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <div class="item">
            <div class="position-re o-hidden"><img alt="" src="./assets/images/services/04.jpg"></div>
            <div class="con">
              <a routerLink="/party-makeup">
                <h5>Party Makeup</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <div class="item">
            <div class="position-re o-hidden"><img alt="" src="./assets/images/services/02.jpg"></div>
            <div class="con">
              <a routerLink="/bridal-makeup">
                <h5>Bridal Makeup</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <div class="item">
            <div class="position-re o-hidden"><img alt="" src="./assets/images/services/03.jpg"></div>
            <div class="con">
              <a routerLink="/hair-style">
                <h5>Hair Style</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <div class="item">
            <div class="position-re o-hidden"><img alt="" src="./assets/images/services/01.jpg"></div>
            <div class="con">
              <a routerLink="/wedding-makeup">
                <h5>Wedding Makeup</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <div class="item">
            <div class="position-re o-hidden"><img alt="" src="./assets/images/services/05.jpg"></div>
            <div class="con">
              <a routerLink="/effect-makeup">
                <h5>Effect Makeup</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <div class="item">
            <div class="position-re o-hidden"><img alt="" src="./assets/images/services/06.jpg"></div>
            <div class="con">
              <a routerLink="/children-face-makeup">
                <h5>Children Face Makeup</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
