<div id="page-wrapper">
  <!-- Services Page Section -->
  <div class="yscott-portfoliopage-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <img alt="" class="img-responsive" src="./assets/images/services/childrenfacemakeup.jpg">
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="yscott-caption animate-box fadeInUp animated" data-animate-effect="fadeInUp">
            <h2>Children Face Makeup</h2>
            <p>Yuroin non lorem ac erat suscipit bibendum. Nulla facilisi. Sedeuterion the ranaduru volutpater
              turpeutionyer massa in libero semper.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Description Section -->
  <div class="yscott-description-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <p>Luroin non lorem ac erat suscipit bibendum. Nulla facilis sedeuter nuluter molis sapien vel, conseyer
            turpeutionyer massa in libero semper. Fucetion mollis augue sit amet hendrerit vestibulum venena lacus.</p>
          <p>Fusce mollis augue sit amet hendrerit vestibulum. Duisteyerionyer venena laus. Sapien vel conseyer
            turpeutionyer massa in libero semper.</p>
          <p>Luroin non lorem ac erat suscipit bibendum. Nulla facilis sedeuter nuluten molis sapien vel, conseyer
            turpeutionyer massa in libero semper. Viven sietione mollis augue sit amet hendrerit vestibulum.</p>
        </div>
        <div class="col-md-6 col-sm-12 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <!-- Pricing List -->
          <div class="yscott-other-pricing-section">
            <div class="yscott-other-pricing-info">
              <h5 class="title">Childreen Face Makeup <span class="price">$60</span></h5>
              <p>Quisque volutpat non nisl perfect drana vivento tinciduntion. Praesent at eros vitae dui pulvinar the
                viveno ornare.</p>
            </div>
            <div class="yscott-other-pricing-info">
              <h5 class="title">Effect Makeup <span class="price">$120</span></h5>
              <p>Quisque volutpat non nisl perfect drana vivento tinciduntion. Praesent at eros vitae dui pulvinar the
                miss ornare.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Services Gallery -->
  <div class="yscott-services-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-4 gallery-item animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <a class="img-zoom" href="./assets/images/gallery/7.jpg" title="Children Face Makeup">
            <div class="gallery-box">
              <div class="gallery-img"><img alt="" class="img-fluid mx-auto d-block"
                                            src="./assets/images/gallery/7.jpg"></div>
              <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
            </div>
          </a>
        </div>
        <div class="col-md-4 gallery-item animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <a class="img-zoom" href="./assets/images/gallery/8.jpg" title="Children Face Makeup">
            <div class="gallery-box">
              <div class="gallery-img"><img alt="" class="img-fluid mx-auto d-block"
                                            src="./assets/images/gallery/8.jpg"></div>
              <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
            </div>
          </a>
        </div>
        <div class="col-md-4 gallery-item animate-box fadeInUp animated" data-animate-effect="fadeInUp">
          <a class="img-zoom" href="./assets/images/gallery/9.jpg" title="Children Face Makeup">
            <div class="gallery-box">
              <div class="gallery-img"><img alt="" class="img-fluid mx-auto d-block"
                                            src="./assets/images/gallery/9.jpg"></div>
              <div class="gallery-detail text-center"><i class="ti-plus"></i></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Prev-Next Services -->
  <!--  <div class="services-prev-next">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col-md-12">-->
  <!--          <div class="d-sm-flex align-items-center justify-content-between">-->
  <!--            <div class="services-prev-next-left">-->
  <!--              <a href="effect-portfolio.html"> <i class="ti-arrow-left"></i> Effect Makeup</a>-->
  <!--            </div>-->
  <!--            <a href="services.html"><i class="ti-layout-grid3-alt"></i></a>-->
  <!--            <div class="services-prev-next-right"><a href="party-portfolio.html">Eye Makeup <i-->
  <!--              class="ti-arrow-right"></i></a></div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
