<!-- Awards & Clients -->
<div class="awards">
  <div class="container">
    <div class="row">
      <div class="col-md-12 owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage"
               style="transform: translate3d(-1330px, 0px, 0px); transition: all 0.25s ease 0s; width: 3420px;">
            <div class="owl-item cloned" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/1.png"></a>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/2.png"></a>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/3.png"></a>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/4.png"></a>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/5.png"></a>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/6.png"></a>
              </div>
            </div>
            <div class="owl-item" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/1.png"></a>
              </div>
            </div>
            <div class="owl-item active" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/2.png"></a>
              </div>
            </div>
            <div class="owl-item active" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/3.png"></a>
              </div>
            </div>
            <div class="owl-item active" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/4.png"></a>
              </div>
            </div>
            <div class="owl-item active" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/5.png"></a>
              </div>
            </div>
            <div class="owl-item active" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/6.png"></a>
              </div>
            </div>
            <div class="owl-item cloned active" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/1.png"></a>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/2.png"></a>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/3.png"></a>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/4.png"></a>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/5.png"></a>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 160px; margin-right: 30px;">
              <div class="awards-logo">
                <a href="#"><img alt="" src="./assets/images/awards/6.png"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-nav disabled">
          <div class="owl-prev">prev</div>
          <div class="owl-next">next</div>
        </div>
        <div class="owl-dots disabled"></div>
      </div>
    </div>
  </div>
</div>
